In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import sklearn

In [12]:
df = pd.read_excel("CKD_ML_061022.xlsx")

In [13]:
df.head(10)

,Age,EG_White,EG_BAME,EG_Other,Male,Female,Comorbidity,Bleeding_Risk,VTE_Risk,BMI,...,Stage3a_CKD,Stage3b_CKD,Stage4_CKD,Stage5_CKD,Mortality,Bleeding,Stroke,Thrombosis,Emergency_Adm,LoS
0,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
1,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
2,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
3,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
4,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
5,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
6,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
7,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
8,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44
9,83,1,2,2,1,2,1,2,1,17.18,...,2,2,2,2,1,0,0,0,3,44

> The encoding of various attrivutes was done in SPSS. The 2 should be 0. Lets replace 2 woth 0.

In [14]:
df.EG_White = df.EG_White.replace(2,0)
df.EG_BAME = df.EG_BAME.replace(2,0)
df.EG_Other = df.EG_Other.replace(2,0)
df.Male = df.Male.replace(2,0)
#### Drop female coulmn and rename male column as gneder with 1 = male, 0=female
df = df.drop(['Female'], axis=1)
df = df.rename({'Male': 'Gender'}, axis=1)

df.Comorbidity = df.Comorbidity.replace(2,0)
df.Bleeding_Risk = df.Bleeding_Risk.replace(2,0)
df.VTE_Risk = df.VTE_Risk.replace(2,0)
df.Apixa_2_5mg = df.Apixa_2_5mg.replace(2,0)
df.Apixa_5mg = df.Apixa_5mg.replace(2,0)
df.Apixa_10mg = df.Apixa_10mg.replace(2,0)
df.Dabi_75mg = df.Dabi_75mg.replace(2,0)
df.Dabi_110mg = df.Dabi_110mg.replace(2,0)
df.Dabi_150mg = df.Dabi_150mg.replace(2,0)
df.Edoxa_30mg = df.Edoxa_30mg.replace(2,0)
df.Edoxa_60 = df.Edoxa_60.replace(2,0)
df.Riva_10mg = df.Riva_10mg.replace(2,0)
df.Riva_15mg = df.Riva_15mg.replace(2,0)
df.Riva_20mg = df.Riva_20mg.replace(2,0)
df.Normal_Renal_Function = df.Normal_Renal_Function.replace(2,0)
df.Stage3a_CKD = df.Stage3a_CKD.replace(2,0)
df.Stage3b_CKD = df.Stage3b_CKD.replace(2,0)
df.Stage4_CKD = df.Stage4_CKD.replace(2,0)
df.Stage5_CKD = df.Stage5_CKD.replace(2,0)

In [15]:
df.head(10)

,Age,EG_White,EG_BAME,EG_Other,Gender,Comorbidity,Bleeding_Risk,VTE_Risk,BMI,Treatment_days,...,Stage3a_CKD,Stage3b_CKD,Stage4_CKD,Stage5_CKD,Mortality,Bleeding,Stroke,Thrombosis,Emergency_Adm,LoS
0,83,1,0,0,1,1,0,1,17.18,72,...,0,0,0,0,1,0,0,0,3,44
1,83,1,0,0,1,1,0,1,17.18,71,...,0,0,0,0,1,0,0,0,3,44
2,83,1,0,0,1,1,0,1,17.18,71,...,0,0,0,0,1,0,0,0,3,44
3,83,1,0,0,1,1,0,1,17.18,70,...,0,0,0,0,1,0,0,0,3,44
4,83,1,0,0,1,1,0,1,17.18,70,...,0,0,0,0,1,0,0,0,3,44
5,83,1,0,0,1,1,0,1,17.18,69,...,0,0,0,0,1,0,0,0,3,44
6,83,1,0,0,1,1,0,1,17.18,69,...,0,0,0,0,1,0,0,0,3,44
7,83,1,0,0,1,1,0,1,17.18,68,...,0,0,0,0,1,0,0,0,3,44
8,83,1,0,0,1,1,0,1,17.18,68,...,0,0,0,0,1,0,0,0,3,44
9,83,1,0,0,1,1,0,1,17.18,67,...,0,0,0,0,1,0,0,0,3,44

In [17]:
df.columns

Index(['Age', 'EG_White', 'EG_BAME', 'EG_Other', 'Gender', 'Comorbidity',
       'Bleeding_Risk', 'VTE_Risk', 'BMI', 'Treatment_days', 'Apixa_2_5mg',
       'Apixa_5mg', 'Apixa_10mg', 'Dabi_75mg', 'Dabi_110mg', 'Dabi_150mg',
       'Edoxa_30mg', 'Edoxa_60', 'Riva_10mg', 'Riva_15mg', 'Riva_20mg',
       'Normal_Renal_Function', 'Stage3a_CKD', 'Stage3b_CKD', 'Stage4_CKD',
       'Stage5_CKD', 'Mortality', 'Bleeding', 'Stroke', 'Thrombosis',
       'Emergency_Adm', 'LoS'],
      dtype='object')

In [18]:
df.shape

(97413, 32)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97413 entries, 0 to 97412
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    97413 non-null  int64
 1   EG_White               97413 non-null  int64
 2   EG_BAME                97413 non-null  int64
 3   EG_Other               97413 non-null  int64
 4   Gender                 97413 non-null  int64
 5   Comorbidity            97413 non-null  int64
 6   Bleeding_Risk          97413 non-null  int64
 7   VTE_Risk               97413 non-null  int64
 8   BMI                    97413 non-null  float64
 9   Treatment_days         97413 non-null  int64
 10  Apixa_2_5mg            97413 non-null  int64
 11  Apixa_5mg              97413 non-null  int64
 12  Apixa_10mg             97413 non-null  int64
 13  Dabi_75mg              97413 non-null  int64
 14  Dabi_110mg             97413 non-null  int64
 15  Dabi_150mg             97413 non-null  int64
 16  Edoxa_30mg             97413 non-null  int64
 17  Edoxa_60               97413 non-null  int64
 18  Riva_10mg              97413 non-null  int64
 19  Riva_15mg              97413 non-null  int64
 20  Riva_20mg              97413 non-null  int64
 21  Normal_Renal_Function  97413 non-null  int64
 22  Stage3a_CKD            97413 non-null  int64
 23  Stage3b_CKD            97413 non-null  int64
 24  Stage4_CKD             97413 non-null  int64
 25  Stage5_CKD             97413 non-null  int64
 26  Mortality              97413 non-null  int64
 27  Bleeding               97413 non-null  int64
 28  Stroke                 97413 non-null  int64
 29  Thrombosis             97413 non-null  int64
 30  Emergency_Adm          97413 non-null  int64
 31  LoS                    97413 non-null  int64
dtypes: float64(1), int64(31)
memory usage: 23.8 MB

In [23]:
df.describe()

,Age,EG_White,EG_BAME,EG_Other,Gender,Comorbidity,Bleeding_Risk,VTE_Risk,BMI,Treatment_days,...,Stage3a_CKD,Stage3b_CKD,Stage4_CKD,Stage5_CKD,Mortality,Bleeding,Stroke,Thrombosis,Emergency_Adm,LoS
count,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,...,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000,97413.000000
mean,78.808301,0.927597,0.031372,0.041031,0.475152,0.842105,0.717420,0.994898,27.166205,513.972581,...,0.188856,0.130106,0.052786,0.006005,0.491290,0.008325,0.177235,0.009917,2.261136,33.536294
std,11.515017,0.259155,0.174321,0.198364,0.499385,0.364644,0.450256,0.071246,7.172186,461.992899,...,0.391396,0.336422,0.223606,0.077262,0.499927,0.090863,0.381869,0.099087,2.706122,33.362584
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,22.280000,99.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,11.000000
50%,81.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,25.870000,375.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,23.000000
75%,87.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,30.750000,856.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,45.000000
max,103.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,97.700000,1637.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,34.000000,267.000000

In [26]:
df.to_csv("CKD_ML_Final.csv", index = False)